.idea
experiments
*.pyc
checkpoints
_vizdoom.ini
*.*~
MUJOCO_LOG.TXT
test_log.txt
.test
tf_logs
bullet3
roboschool
*.csv
*.doc
*.orig
docs/site
coach_env
build
rl_coach.egg*
rl_coach_slim.egg*
contrib
test_log_*
dist
.DS_Store
datasets
.cache
.pytest_cache
core
trace_test*
*.swp
*.swo
.cache/
*.pyc
coachenv

