.idea
experiments
*.pyc
checkpoints
_vizdoom.ini
*.*~
MUJOCO_LOG.TXT
test_log.txt
.test
tf_logs
bullet3
roboschool
*.csv
*.doc
*.orig
docs/site
coach_env
build
rl_coach.egg*
contrib
test_log_*
dist
datasets
.cache
.pytest_cache
core
trace_test*
