[coach]
image = 316971102342.dkr.ecr.us-west-2.amazonaws.com/coach:v0.11.0-50-gba4cde1
memory_backend = redispubsub
data_store = s3
s3_end_point = s3.amazonaws.com
s3_bucket_name = balaji-perf-testing
s3_creds_file = /Users/ajaydesh/.aws/credentials
